

/*the header styling */

header {
  color: #fff;
  max-width: 100%;
  
  
}

header, h1 {
    font-size:65px;
    margin-top: 0%;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    background-color: whitesmoke;
    background: #13293d;
    
 }

/* nav bar */
.nav, ul, a
{

display: flex;
min-width: 100%;
align-self: flex-end;
text-decoration: none;
justify-content: left;
min-width: 500px;
color: #fff;
font-size: 20px;
}

/* body element */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(195, 196, 193, 0.555);
    
}
.placeholder-container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: DodgerBlue;
  
}

.placeholder-container  div {
  
  padding: 10px;
  font-size: 30px;
  width:70%;
  

  }

.placeholder-1 {
  display: flex;
  justify-content: inline;
}
.about-me-text, .work-text, .contact-me-text{
  display:flex;
  justify-content: center;
}


.title {
  border-bottom:3px solid black ;
  display: flex;
  align-content: center;
  font-size: 50px;
  margin: 10px auto;
  padding: 20px;
  
}
/*footer styling */

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  max-width: 100%;
  background-color: #13293d;
  color: #fff;
}

/* hyperlinks on hover element */
a:hover {
    text-decoration: underline;
    font-size: larger;
} 
.placeholder-1 .placeholder-2 .placeholder-3{
  height:300px;
  width:600px;
  overflow: hidden;
}

.placeholder-1 img, .placeholder-2 img, .placeholder-3 img{
transition:ease-in .5s;
}
.placeholder-1:hover img, .placeholder-2:hover img, .placeholder-3:hover img{
  transform: scale(.90);
}


