
*
body, h1, p {
    margin: 0;
    padding: 0;
}

/* body element */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: antiquewhite;
}

/*the header and nav elements */
h1 {
    display:flex;
    font-size: 60px;
    font-weight: bold;
    color: navy;
    background-color: whitesmoke;
    
    

}

.nav {
    
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    color: aqua;
    background-color: whitesmoke;

    
    
}

/* aside elememts*/
aside, h2, p {
    display:block;
    font-size: 50px;
    padding: 20px;
    margin: 10px 10px 10px;
    
}



/* paragraph (p) elements */
p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* hyperlink elements (a) */
a {
    color: #007bff;
    text-decoration: none;
}

/* hyperlinks on hover element */
a:hover {
    text-decoration: underline;
}

@media screen (max-width:1080px) {

    
}