/*makes links scroll to section smoothly */
html {
  scroll-behavior: smooth;
}

/*the header styling */


header {
  display: flex;
  color: #fff;
  max-width: 100%;
  font-size:35px;
  background: #13293d;
  justify-content: space-between;
  
}



/* nav bar */

nav, a, ul, li
{
flex-direction: row;
display: flex;
align-items: flex-end;
text-decoration: none;
color: #fff;
font-size: 20px;
margin-right: 100px;


}


/* body element */
body {
  
    font-family: Arial, sans-serif;

    
    
}


.placeholder-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  background-color: DodgerBlue;
  
  
}

.placeholder-container  div {
  
  padding: 10px;
  font-size: 30px;
  max-width:100%;
  
  
/* main text section */
  }

.aboutme
{
  display: flex;
  flex-wrap: wrap;
  
}

.about-me-text, .work-text, .contact-me-text{
  display:flex;
  
  justify-items:center;
  flex-direction: row;
  align-items: center;
  
}

.title {
  border-bottom:3px double black ;
  font-size: 40px;
  
}
/*footer styling */

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  max-width: 100%;
  background-color: #13293d;
  color: #fff;
  
}

/* hyperlinks on hover element */
a:hover {
    text-decoration: underline;
    font-size: larger;
    
} 

/* image hover properties */

.placeholder-1:hover img, .placeholder-2:hover img, .placeholder-3:hover img{
  transform: scale(.90);
}

.placeholder-1 img, .placeholder-2 img, .placeholder-3 img {
  max-width:100%;
  max-height: 300px;
  transition:ease-in .5s;
  
}

.placeholder-2 img, .placeholder-1 img{
  max-height: 100%;
}


/* screen size adjustment */

/* Mobile Styles */

@media screen and (max-width: 320px) {
  
}

@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 414px) {
  
}

/* Tablet Styles */

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 1024px) {
  
}

/* Desktop and Laptop Styles */

@media screen and (max-width: 1366px) {
  
}
@media screen and (max-width: 1440px) {
  
}

@media screen and (max-width: 1920px) {
  
}

@media screen and (max-width: 2560px) {
  
}